[Desktop Entry]
Encoding=UTF-8
Name=QtSmbstatus Client
Comment=QtSmbstatus is a GUI (graphical user interface) for smbstatus
Comment[fr]=QtSmbstatus - une interface graphique à smbstatus
Comment[es]=QtSmbstatus - una interface grafica de smbstatus
Comment[ru]=QtSmbstatus - графический интейфейс для smbstatus
Comment[uk]=QtSmbstatus - графічний інтерфейс для smbstatus
Exec=qtsmbstatus
Terminal=false
Type=Application
Icon=qtsmbstatus.xpm
Categories=Qt;Network;Utility;
MimeType=application/qtsmbstatus
StartupNotify=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=qtsmbstatus
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=qtsmbstatus
X-AppInstall-Package=qtsmbstatus
X-AppInstall-Section=main
X-AppInstall-Popcon=5
